
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Surrogate City Finder</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<!-- Leaflet CSS for maps -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" />
<!-- jQuery UI for autocomplete -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
<!-- jQuery (loaded early) -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- jQuery UI for autocomplete -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<!-- Leaflet JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
</head>
  
  <body>
  <div class="wrapper col3" style="margin-bottom:10px;margin-top:10%;height:200px">
  
  <div id="intro">
    <div class="fl_left" style="width:100%">
    <h2 id="city">Surrogate City Finder</h2>
  <div style="float:left;width:100%;margin-top:50px;">    
      <p class="readmore" style="text-align:left;">
        <input type="text" id="cityname" style="width:50%;margin-left:25%;height:30px;border-radius:5px;background-color:#707070;color:#FFFFFF;border:none;padding:5px;font-size:20px;" />  
    
</div>  
 
 
 </div>
        <br class="clear" />
  </div>
</div>

    <script>
      $(document).ready(function() {
          var input = document.getElementById('cityname');
          
          $(input).autocomplete({
              source: function(request, response) {
                  $.ajax({
                      url: "https://nominatim.openstreetmap.org/search",
                      dataType: "json",
                      data: {
                          q: request.term,
                          format: "json",
                          addressdetails: 1,
                          limit: 10
                      },
                      success: function(data) {
                          response($.map(data, function(item) {
                              return {
                                  label: item.display_name,
                                  value: item.name
                              };
                          }));
                      }
                  });
              },
              minLength: 2
          });
      });
    </script>
  </body>
</html>





